<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Moodys.com" verbose="1" >
<listeners>
    <listener class-name="com.moodys.atom.listener.CustomListener" />
  </listeners>
  
  <test name="Overviews"   >
   <classes>
    <class name="com.moodys.atom.cases.Overviews"/>
  </classes>
 </test>
</suite>